testing/
node_modules/
src/
!template/src/
!dist/
docs/
site/
tests/

.prettierrc.json
gluon.json
tsconfig.json
yarn.lock
.eslintignore
.eslintrc.json
.gluon
.vscode/
.github/
.eslintrc.js
jest.config.js

# Patch generation
.moz-central
patches.sh