body {
  background-color: #333333;
  color: white;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  align-content: center;
}
