:root {
  --bg: #f9f9f9;
  --fg: #222;

  --links: #00f;
  --hover-links: #c00;
  --visited-links: #009;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #333;
    --fg: #f9f9f9;

    --links: rgb(142, 142, 255);
    --hover-links: rgb(204, 101, 101);
    --visited-links: rgb(86, 86, 151);
  }
}

$baseline: 1.5rem;

$background: var(--bg);
$color: var(--fg);

$links: var(--links);
$hover-links: var(--hover-links);
$visited-links: var(--visited-links);

$font-size: 1.125rem;
$font-family: Segoe UI, system-ui, -apple-system, sans-serif;
$line-height: 1.75;
$code_font: 400 1.125rem/1.75 SFMono-Regular, Consolas, Liberation Mono, Menlo,
  monospace;
