<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the browser</title>

    <link rel="stylesheet" href="css/browser.css">
</head>
<body>
    <div id="grid">
        <div>
            <!-- TODO: Melon icon here -->
        </div>
        <div>
            <h1>Good, you are setup!</h1>
            <p>You chose the option to customize the html of the browser. This means you inherit none of the UI or logic firefox has in relation to tabs, etc. I wish you the best of luck!</p>
        </div>
    </div>
</body>
</html>